*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .form{
  width: 400px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid #00ff9c;
  color: #00ff9c;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.container .form #purchaseTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  transition: all 1s ease;
  background-color: #000;
}


.container .form .amount{
  width: 100%;
  height: 10%;
  padding-left: 20px;
  background-color: transparent;
  border: 1px solid #00ff9c;
  margin-top: 10px;
  color: #00ff9c;
}

.container .form .submitBtn{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #00ff9c;
  border: none;
  cursor: pointer;
  font-size: large;
  border-radius: 10px;
  transition: all .2s linear;
}

.container .form .submitBtn:hover{
  background-color: transparent;
  border: 1px solid #00ff9c;
  color: #00ff9c;
}

.container .form .goBack{
  color: #00ff9c;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}